# dependencies
/node_modules

# local Vercel state
.vercel

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# OS
**/.DS_Store
Thumbs.db

# environment files
.env
.env*
!.env.example
!**/.env.example

# Python virtual environments
*venv/
*/.venv/

# Docker volumes
*docker_data/

# Python cache (all subdirectories)
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
