# dependencies
/node_modules

# local Vercel state
.vercel

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

backend/.env
backend/alembic.ini
backend/.venv
backend/**/__pycache__

**/.DS_Store

*venv/
*docker_data/